<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos/register.css">
    <script src="https://kit.fontawesome.com/c85042c871.js" crossorigin="anonymous"></script>
    <title>Registrate</title>
</head>
<body>
    <header class="menu">
        <div class="menu1">
            <a href="/home" class="logo"><img src="/imagen/logo-mercado-liebre.svg" alt="LOGO"></a>
                
                <div class="busqueda"><input type="text" name="Buscar" id="Buscar" placeholder="Buscar..."></div>
                <div class="compra"><i class="fa-regular fa-handshake"></i>Compra en cuotas y sin tarjeta de credito</div>
            </div>
        <section class="menu2">
            <div>
                <div>Ofertas</div>
                <div>Tiendas oficiales</div>
                <div>Vender</div>
                <div>Ayuda</div>
            </div>
            <div>
                <a href="/home/register"><span>Crea tu cuenta <i class="fa-solid fa-shop"></i></span></a>
                <a href="/home/login"> <span>Ingresa <i class="fa-solid fa-right-to-bracket"></i></span> </a>
                <span>Mas compras <i class="fa-solid fa-basket-shopping"></i></span>
            </div>
        </section>
    </header>

    <form action="" method="post" class="registrate">
        <section>
                <label for="Nombre"> Nombre y Apellido </label>
                <div>
                <input type="text" id="Nombre">
            </div>
        
            <label for="NombreUsuario"> Nombre de Usuario </label>
            <div>
            <input type="text" id="NombreUsuario">
        </div>
            
            <label for="FechaNacimiento"> Fecha de nacimiento</label>
            <div>
            <input type="date" id="FechaNacimiento">
            </div>
    
            
            <label for="Domicilio"> Ingrese Domicilio</label>
            <div>
            <input type="text" id="Domicilio">
            </div>
            
            
            <label for="PerfilUsuario"> Perfil de Usuario</label>
            <div>
            <input type="text" id="PerfilUsuario">
            </div>
            
            
                <label for="Categorias"> Categorias de Interes</label>
                <div>
                <select name="Categorias" id="Categorias">
                    <option value="Electro">Electro</option>
                    <option value="Moda">Moda</option>
                    <option value="Hogar">Hogar</option>
                    <option value="Jugueteria">Jugueteria</option>
                    <option value="Vida sana">Vida sana</option>
            </select>
            </div>
            
            
                <label for="FotoUsuario">Foto de Usuario</label>
                <div>
                <input type="image" id="FotoUsuario">
            </div>
            
            
                    <label for="Contraseña">Contraseña</label>
                    <div>
                        <input type="password" id="Contraseña">
                </div>
    
            
                    <label for="ConfirmarContraseña">Confirmar Contraseña</label>
                    <div>
                    <input type="password" id="ConfirmarContraseña">
                </div>

                <div class="botones">
                    <div>
                    <button class="reset" type="reset">Reset</button>
                </div>
                <div>
                    <a href="/home" ><button class="volver"> Enviar </button> </a>
                </div>
                </div>
        </section>
    </form>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card fa-3x --fa-inverse"></i>
            <h2>Paga con tarjeta de credito</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift fa-3x --fa-inverse"></i>
            <h2>Envio gratis a partir de los 2500$</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-shield-halved fa-3x --fa-inverse"></i>
            <h2>Seguridad de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
    </footer>
</body>
</html>